<h1>Welcome to Webshop</h1>

<% @products.each do |product| %>
<div id="product-<%= product.id %>">
  <%= "#{product.title} - #{product.description} - #{product.price}" %><br/>
    <%= link_to 'Add to cart', shopping_carts_path(product_id: product), method: :POST %><br/>
</div>
<% end %>
