<h1>Welcome to Webshop</h1>
<% @products.each do |product| %>
  <div id="product-<%= product.id %>">
    <%= "#{product.title} - #{product.description} - #{product.price}" %>
    <%= link_to "Add to cart" %> 
  </div>
<% end %>
